header {
    position: relative;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 1px 1px 10px #2e2e2e;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #74083ec9;
    background: linear-gradient(90deg, rgba(166, 3, 139, 1) 0%, rgba(255, 0, 236, 1) 50%, rgba(255, 0, 116, 1) 100%);
  }
  
  form {
    margin: 50px;
    background-color: rgb(215, 211, 211);
    padding: 20px;
    border-radius: 10px;
  }
  
  form .form {
    position: relative;
    transition: 0.3s ease;
  }
  
  form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
  }

  .input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field select, .input-field input[type="date"] {
    color: #707070;
    padding-left: 10px;
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 90%;
}

input[type="date" i] {
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
}

.input-field select, .input-field input[type="date"] {
    color: #707070;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    white-space: nowrap;
}
  
  form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .fields .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
  }
  
  form button, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 298px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  form .btnText {
    font-size: 14px;
    font-weight: 400;
  }
  
  form button i, form .backBtn i {
    margin: 0 6px;
  }
  
  .uil-navigator:before {
    content: '\e8e7';
  }
  